body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dadada;
  background: linear-gradient(90deg, rgb(241, 44, 110) 0%, rgb(233, 148, 162) 100%);
  position: fixed;
  opacity: 60%;  
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(136, 24, 62);
}